.autoplay-slider{
  display: flex;
  min-width: 100%;
  width: min-content;
  animation: 20s linear infinite sliderAnimation;
}

.slide{
  height: 200px;
  width: 400px;
  background: #3486eb;
  border: 1px solid #000;
  margin: 20px;
  position: relative;
}

@keyframes sliderAnimation {
  100% {
    transform: translateX(-50%);
  }
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.responsive-image {
  width: 400px; /* 幅を400pxに設定 */
  height: auto; /* 高さを自動調整 */
  max-height: 300px; /* 最大の高さを300pxに設定 */
}
